$blue: #77c9d4;
$green: #57bc90;
$darkgreen: #015249;
$gray: #A5A5AF;
$white: #D9F7D4;
$black: #031600;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron{
    text-align: center;
    background-color: $green ;
    color: $white;
    @include margenes(25px,0px);
    
    }
    
    .jumbotronP{
        flex-wrap: nowrap;
        text-align: left;
        height: 300px;
        padding-bottom: 0px;
        background-image: inherit;
        background: linear-gradient(to right, rgba(119, 201, 212, 0.74), rgba(87, 188, 95, 0.877)), url(../img/banner-principal.jpg);
        background: -webkit-linear-gradient(to right, rgba(119, 201, 212, 0.74), rgba(87, 188, 95, 0.877)), url(../img/banner-principal.jpg);  
    }
    
    .btn{
    background-color: $darkgreen;
    width: 100%;
    }
    
    footer{
        color: $white;
        background-color: $green;
        text-align: center;
        padding: 10px 10px 10px;
        @include margenes(20px, 0px);
    }
    
    .card-producto{
        flex: 1 250px;
        padding: 3px 3px 3px 3px;
        margin: 3px;
    }
    
    .footer-icon{
        padding-right: 10px;
        text-align: left;
    }
    
    .carousel-control-prev-icon {
        background-color: $green;
    }
    
    .carousel-control-next-icon {
        background-color: $green;
    }
    
    .sr-only {
    border-color:  $black;
    }