.jumbotron {
  text-align: center;
  background-color: #57bc90;
  color: #D9F7D4;
  margin-top: 25px;
  margin-bottom: 0px; }

.jumbotronP {
  flex-wrap: nowrap;
  text-align: left;
  height: 300px;
  padding-bottom: 0px;
  background-image: inherit;
  background: linear-gradient(to right, rgba(119, 201, 212, 0.74), rgba(87, 188, 95, 0.877)), url(../img/banner-principal.jpg);
  background: -webkit-linear-gradient(to right, rgba(119, 201, 212, 0.74), rgba(87, 188, 95, 0.877)), url(../img/banner-principal.jpg); }

.btn {
  background-color: #015249;
  width: 100%; }

footer {
  color: #D9F7D4;
  background-color: #57bc90;
  text-align: center;
  padding: 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-producto {
  flex: 1 250px;
  padding: 3px 3px 3px 3px;
  margin: 3px; }

.footer-icon {
  padding-right: 10px;
  text-align: left; }

.carousel-control-prev-icon {
  background-color: #57bc90; }

.carousel-control-next-icon {
  background-color: #57bc90; }

.sr-only {
  border-color: #031600; }
